:81 {
        header {
                X-Frame-Options "DENY"
                X-Content-Type-Options "nosniff"
                Referrer-Policy "strict-origin-when-cross-origin"
                X-XSS-Protection "1; mode=block"
        }

        @allowed_transform_port {
                query XTransformPort=3000
        }
        @allowed_transform_port {
                query XTransformPort=3004
        }

        handle @allowed_transform_port {
                reverse_proxy 127.0.0.1:{query.XTransformPort} {
                        header_up Host {host}
                        header_up X-Forwarded-For {remote_host}
                        header_up X-Forwarded-Proto {scheme}
                        header_up X-Real-IP {remote_host}
                }
        }

        handle {
                reverse_proxy 127.0.0.1:3000 {
                        header_up Host {host}
                        header_up X-Forwarded-For {remote_host}
                        header_up X-Forwarded-Proto {scheme}
                        header_up X-Real-IP {remote_host}
                        transport http {
                                read_timeout 120s
                        }
                }
        }
}